.floatList {
    display: block;
    overflow-x: scroll;
    max-height: 50em;
    width:11em;
}

.allLinesTable {
    border-collapse: collapse;
}

.allLinesTable, .allLinesTable th, .allLinesTable td {
    border: 1px solid black;
    padding: 0.2em;
}

#playerCommands {
    display: flex;
}

.navPanel {
    display: grid;
    grid-template-columns: 2em 2em 2em;
    grid-template-rows: 2em 2em 2em;
}

.zmContainer {
    display: inline-block;
    overflow: auto;
    height: auto;
    max-height: 40em;
    width: auto;
    max-width: 40em;
    border-style: solid;
    border-width: 0.1em;
}

.zoneMap {
    padding: 0em;
    margin: 0em;
    font-size: 0.75em;
    letter-spacing: 0.75em;
}